:root {
  --background: #ffffff;
  --dark-pink: #E5004B;
  --mid-pink: #FA5274;
  --light-pink: #F3D9DE;
  --main-font: 'Poppins', sans-serif;
  --font-size-small: 12px;
  --font-size-base: 16px;
  --font-size-large: 24px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
  background: var(--background);
  font-family: var(--main-font);
}


