.container {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    height: 100vh; /* Full viewport height */
    width: 100vw; 
    text-align: center; 
    background-color: var(--dark-pink); 
}

.boldText {
    font-weight: bold;
}
